@import url("https://fonts.googleapis.com/css2?family=Alata&family=Noto+Sans+JP:wght@400;500;700&display=swap");

::selection {
	background: #2db2a4;
	color: #ffffff;
}
/* for Firefox */
::-moz-selection {
	background: #2db2a4;
	color: #ffffff;
}

body {
	font-family: "Alata", "Noto Sans JP", sans-serif;
	color: #333;
}

.content-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 0 160px;
	display: flex;
	justify-content: space-between;
}

.content-wrap main {
	width: 820px;
}

.content-wrap aside {
	width: 300px;
	margin-left: 30px;
}

a {
	transition: ease-in-out 0.3s;
}
